body{
	background-color:#F5F5F5;
}

.pageTitle{
	text-align:center;
	font-size:50px;	
	letter-spacing: 10px;
}


table{
    border-collapse: collapse;
    border-left:solid 10px #2F4F4F;
	width:100%;
	height:auto;
	text-align:center;
}

tr{
	height:30px;
}

tr:nth-child(even){
	background-color:#D3D3D3;
}
	
th{
	text-align:center;
	height:40px;
	background-color:#2F4F4F;
	color:white;
}

#myTable_length, #myTable_filter{
	padding:12px;
	background-color:#2F4F4F;
}

#myTable_info, #myTable_paginate{
	padding:12px;
	background-color:#2F4F4F;
	color:white;
}

#newUser{
	background-color: #008CBA;
	border:solid 5px #008CBA;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    width:10%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

#newUser:hover{
	background-color: white;
	color:black;
	border:solid 5px black;
}